body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: rgb(141, 180, 231);
}

.todo-list {
  padding: 0;
  width: 100%;
  margin-top: 2rem;
}

.todo-list__element,
.todo-list__form {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  background: rgb(238, 238, 238);
  width: 50vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0.3rem 0.3rem black;
  align-items: center;
}

.todo-list__text {
  overflow: hidden;
}

.todo-list__button {
  color: white;
  background: rgb(35, 35, 35);
  border: none;
  margin-left: 0.25rem;
  padding: 0.25rem;
  font-family: inherit;
  cursor: pointer;
}

.todo-list__button:hover,
.todo-list__button:focus {
  opacity: 65%;
}

.todo-list__input {
  font-family: inherit;
  padding: 0.25rem;
  border: solid 2px rgb(160, 160, 160);
  width: 100%;
}

.todo-list__form {
  margin-top: 1.5rem;
}

.todo-list__button-container {
  min-width: max-content;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}
