.todo-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 2rem;
}

.todo-list__element {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  background: rgb(238, 238, 238);
  width: 50vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px black;
  align-items: center;
}

.todo-list__text {
  width: 75%;
  overflow: auto;
}

.todo-list__button--dark {
  color: white;
  background: rgb(35, 35, 35);
  border: none;
  margin-left: 0.25rem;
  padding: 0.25rem;
  font-family: inherit;
  cursor: pointer;
}

.todo-list__button--dark:hover,
.todo-list__button--dark:focus {
  opacity: 65%;
}

.todo-list__input {
  font-family: inherit;
  padding: 0.25rem;
  border: solid 2px rgb(160, 160, 160);
  width: 100%;
}

.todo-list__form {
  margin-top: 1.5rem;
}
